<div class="card__datetime">
  <div class="card__datetime__date">
    <%= l mayor_neighborhood.start_time, format: "%d" %> <span class="card__datetime__month"><%= l mayor_neighborhood.start_time, format: "%B %Y" %></span>
  </div>
  <div class="card__datetime__time">
    <%= mayor_neighborhood.start_time.strftime("%H:%M") %> - <%= mayor_neighborhood.end_time.strftime("%H:%M") %>
  </div>
</div>
