<%= decidim_form_for(@form, url: decidim_sabarca.admin_transparency_items_path, html: { class: "form new_transparency_item" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t("transparency_items.new.title", scope: "decidim.admin.actions") %></h2>
    </div>
    <div class="card-section">
      <%= render partial: 'form', object: f %>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
