<section class="wrapper sabarca-header-section">
  <div class="row">
    <% if title.present? %>
      <div class="main-block <%= "block-center" if center_text %>">
        <%= icon_sabarca(icon_name, class: "sabarca--header__icon") if icon_name.present? %>
        <div class="titles">
          <h1 class="heading1"><%= title %></h1>
          <% if subtitle.present? %>
            <h2 class="heading4"><%= subtitle %></h2>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
