<div class="columns small-12 large-4">
  <div class="card">
    <div class="card__content">
      <h5 class="card__title">
        <%= user_group.url.present? ? (link_to user_group.name, user_group.url, target: "_blank") : user_group.name %>
      </h5>
      <%= user_group.address %>
      <br/>
      <%= user_group.phone %>
      </br>
      <%= user_group.users.first.email %>
    </div>
  </div>
</div>
