//////////////////////////////
/////// NEW VARIBLES /////////
//////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web:400,700');

$light_grey: #D8D8D8;
$dark_grey: #787779;
$yellow: #FFCD00;
$primary_color: #7C2529;
$dark: #000000;
$blue: #00B5E2;
$white: #ffffff;
$whitness: #F3F3F3;

body{
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
a:hover{
  color: $blue;
}
//////////////////////////////
/////// TOP BAR MENU /////////
//////////////////////////////

.title-bar{
  background: $light_grey;
}

.navbar{
  background: $primary_color;
}

.main-nav__link--active a{
  -webkit-box-shadow: inset 0px -30px 0px -26px $yellow;
  box-shadow: inset 0px -30px 0px -26px $yellow;

}

.topbar__dropmenu > ul > li > a{
  color: $dark;
}

.topbar__dropmenu > ul > li > a:after{
  border-top-color: $dark !important;
}

.topbar__user__login a{
  color: $dark;
  font-weight: inherit;
  &:hover{
    color: $blue;
  }
}

.logo-cityhall{
  background: $primary_color;
  max-height: 40px;
  padding: 5px;
  img{
    max-height: 30px;
  }
}

////////////////////////
/////HOME SECTION///////
////////////////////////
.hero{
  background-size: cover;
}

.text-highlight.hero-heading{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.home-section{
  background: $yellow;
}

/////////////////////////////
//////////FOOTER/////////////
/////////////////////////////
.footer__subhero{
  background-color: $light_grey;
}

.main-footer{
  background: $primary_color;
}

.main-footer__badge{
  left: 10px;
}

.section-heading{
  color: $blue;
  &:before{
    background-image: asset-url("decidim/sabarca/icon_headers.svg");
    width: 20px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
  }
}

/////////////////////////////
///////////BUTTON////////////
////////////////////////////

.button{
  background: $primary_color;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  &:hover, &:focus{
    background-color: $dark_grey;
  }
}
/////////////////////////////
//////////SECTIONS/////////////
/////////////////////////////
.background-white{
  background-color: $white;
}

.background-whitness{
  background-color: $whitness;
}

.background-yellow{
  background: $yellow;
}

/////////////////////////////
//////////HEADER/////////////
/////////////////////////////

.sabarca-header-section{
  text-align: left;
  background: $yellow;
  .sabarca--header__icon{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
  }
  .titles{
    float: left;
  }
  .block-center{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

/////////////////////////////
//////////FONT/////////////
/////////////////////////////
.font-18{
  font-size: 1.8rem;
}


/////////////////////////////
/////////CARDLINK////////////
/////////////////////////////
.card-link{
  border-radius: 0;
  border: solid 2px $primary_color;
  a{
    height: 100%;
    transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
    color: $primary_color;
    &:hover{
      background-color: $yellow;
    }
  }
  .sabarca--block__icon{
    width: 50px;
    height: 50px;
  }
}

/////////////////////////////
/////////SCOPE LINK/////////
/////////////////////////////
.sabarca-section-title{
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.scope-link{
  background-color: transparent;
  line-height: 40px;
  display: block;
  border-color: $dark;
  border-radius: 0;
  background-color: $white;
}


/////////////////////////////
/////////Custom/////////
/////////////////////////////
.process-header__phase{
  background-color: $yellow;
}

.sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
  .wrapper{
    .row.collapse{
      .row.collapse{
        margin-right: calc(-75rem - 100%);
        margin-left: calc(-75rem - 100%);
        margin-bottom: 4rem;
        margin-top: -1.5rem;
        padding: 4rem 0;
        background: $yellow;
        .page-title{
          margin-bottom: 0;
          p{
            margin-top: 20px;
          }
          a{
            border: 2px solid $primary_color;
            color: $primary_color;
            padding: 0.5rem 2rem;
            margin-left: 20px;
            text-transform: uppercase;
            &:hover{
              color: $white;
              background-color: $primary_color;
            }
          }
        }
      }
    }
  }
}

.sab-ctrl-pages{
  .wrapper{
    .row.column{
      max-width: none;
      background: $yellow;
      margin-left: -1rem;
      margin-right: -1rem;
      width: 100vw;
      margin-top: -2rem;
      padding: 2rem 0;
      text-align: center;
      margin-bottom: 3rem;
      .page-title{
        margin-bottom: 0;
      }
    }
  }
}

@media print, screen and (min-width: 28.125em){
  .sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
    .wrapper{
      .row.collapse{
        .row.collapse{
          margin-top: -2rem;
        }
      }
    }
  }

  .sab-ctrl-pages{
    .wrapper{
      .row.column{
        margin-top: -2rem;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 4rem 0;
      }
    }
  }
}

@media print, screen and (min-width: 40em){
  .sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
    .wrapper{
      .row.collapse{
        .row.collapse{
          margin-top: -5rem;
        }
      }
    }
  }
  .sab-ctrl-pages{
    .wrapper{
      .row.column{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-top: -5rem;
        padding: 4rem 0;
        margin-bottom: 4rem;
      }
    }
  }
}


@media print, screen and (min-width: 64em){
  .sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
    .wrapper{
      .row.collapse{
        .row.collapse{
          margin-right: calc(-75rem - 100%);
          margin-left: calc(-75rem - 100%);
          margin-bottom: 4rem;
          margin-top: -5rem;
          padding: 4rem 0;

        }
      }
    }
  }

  .sab-ctrl-pages{
    .wrapper{
      .row.column{
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -5rem;
        padding: 4rem 0;
        margin-bottom: 4rem;

      }
    }
  }
}
