//////////////////////////////
/////// NEW VARIBLES /////////
//////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web:400,600,700');

$light_grey: #D8D8D8;
$dark_grey: #787779;
$yellow: #FFCD00;
$primary_color: #7C2529;
$dark: #000000;
$blue: #00B5E2;
$white: #ffffff;
$whitness: #F3F3F3;

body{
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  // font-weight: 700;
}
.heading1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
a{
  color: $primary_color;
}
a:hover, a:focus, .card__link:hover, .card--list__data__icon:hover{
  color: $blue;
}

.share-link.link{
  color: $blue;
}

.main-nav__link a:focus{
  color: $white;
}
.card--list__data__icon:hover .icon{
  fill: $blue;
}
.off-canvas{
  background-color: $primary_color;
}
.address__icon .icon{
  width: 40px;
  height: 40px;
  fill: $primary_color;
}
[type='text'], [type='password'], [type='date'],
[type='datetime'], [type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'], [type='search'],
[type='tel'], [type='time'], [type='url'], [type='color'], textarea{
  border-radius: 0;
}
//////////////////////////////
/////// TOP BAR MENU /////////
//////////////////////////////

.title-bar{
  background: $light_grey;
}

.navbar{
  background: $primary_color;
}

.main-nav__link--active a{
  -webkit-box-shadow: inset 0px -30px 0px -26px $yellow;
  box-shadow: inset 0px -30px 0px -26px $yellow;

}

.topbar__dropmenu > ul > li > a{
  color: $dark;
}

.topbar__dropmenu > ul > li > a:after{
  border-top-color: $dark !important;
}

.topbar__user__login a{
  color: $dark;
  font-weight: inherit;
  &:hover{
    color: $blue;
  }
}

.logo-cityhall{
  background: $primary_color;
  max-height: 40px;
  padding: 5px;
  img{
    max-height: 30px;
  }
}

////////////////////////
/////HOME SECTION///////
////////////////////////
.hero{
  background-size: cover;
}

.text-highlight.hero-heading{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.home-section{
  background: $yellow;
}
.extended.wrapper-home{
  text-align: center;
}

/////////////////////////////
//////////FOOTER/////////////
/////////////////////////////
.footer__subhero{
  background-color: $light_grey;
}

.main-footer{
  background: $primary_color;
}

.main-footer__badge{
  left: 10px;
}

.section-heading{
  color: $blue;
  &:before{
    background-image: asset-url("decidim/sabarca/icon_headers.svg");
    width: 20px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
  }
}

/////////////////////////////
//////////SECTIONS/////////////
/////////////////////////////
.background-white{
  background-color: $white;
}

.background-whitness{
  background-color: $whitness;
}

.background-yellow{
  background: $yellow;
}

.button-back{
  margin-top: -4.5rem;
  display: block;
  color: $primary_color;
  .sabarca--block__icon{
    width: 40px;
    height: 40px;
    float: left;
  }
  p{
    float: left;
    margin-left: -10px;
    line-height: 40px;
  }
  &:hover{
    p{
      color: $primary_color;
      text-decoration: underline;
    }
  }
}

/////////////////////////////
//////////HEADER/////////////
/////////////////////////////

.sabarca-header-section{
  text-align: left;
  background: $yellow;
  .sabarca--header__icon{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
  }
  .titles{
    float: left;
  }
  .block-center{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

/////////////////////////////
//////////FONT/////////////
/////////////////////////////
.font-titillum-bold{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}
.section-heading{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}
.font-18{ font-size: 1.8rem; }
.font-22{ line-height: 28px; font-size: 1.4rem;}

.home-pam__number.users_count{ font-family: 'Titillium Web', sans-serif;}
.page-title{font-family: 'Titillium Web', sans-serif; }

/////////////////////////////
//////////MARGIN/////////////
/////////////////////////////
.margin-bottom-0{
  margin-bottom: 30px !important;
}

/////////////////////////////
//////////dropdown/////////////
/////////////////////////////
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: $primary_color transparent transparent;
}

/////////////////////////////
/////////CARDLINK////////////
/////////////////////////////
.card{
  .author-data .author__name{
    color: $blue;
  }
}
.card--list__icon{
  fill: $primary_color;
}
.card-link{
  border-radius: 0;
  border: solid 2px $primary_color;
  a{
    height: 100%;
    transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
    color: $primary_color;
    &:hover{
      background-color: $yellow;
    }
  }
  .sabarca--block__icon{
    width: 50px;
    height: 50px;
  }
  .card_block{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    p{
      line-height: 20px;
    }
  }
}

/////////////////////////////
/////////SCOPE LINK/////////
/////////////////////////////
.sabarca-section-title{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.scope-link{
  display: block;
  border-radius: 0;
  background-color: $yellow;
  border: 2px solid $primary_color;
  color: $primary_color;
  padding: 0.5rem 2rem;
  margin-left: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  justify-content: center;
  &:hover{
    background-color: $primary_color;
    color: $white;
  }
}


/////////////////////////////
/////////Custom/////////
/////////////////////////////
.hero:after{
  background-color: rgba(26, 24, 29, 0.2) !important;
}
.process-header__phase{
  background-color: $yellow;
}

.sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
  .wrapper{
    .row.collapse{
      .row.collapse{
        margin-right: calc(-75rem - 100%);
        margin-left: calc(-75rem - 100%);
        margin-bottom: 4rem;
        margin-top: -1.5rem;
        padding: 4rem 0;
        background: $yellow;
        .page-title{
          margin-bottom: 0;
          p{
            margin-top: 20px;
          }
          a{
            border: 2px solid $primary_color;
            color: $primary_color;
            padding: 0.5rem 2rem;
            margin-left: 20px;
            text-transform: uppercase;
            font-weight: 700;
            &:hover{
              color: $white;
              background-color: $primary_color;
            }
          }
        }
      }
    }
  }
}

.sab-ctrl-pages{
  .wrapper{
    .row.column{
      max-width: none;
      background: $yellow;
      margin-left: -1rem;
      margin-right: -1rem;
      width: 100vw;
      margin-top: -2rem;
      padding: 2rem 0;
      text-align: center;
      margin-bottom: 3rem;
      .page-title{
        margin-bottom: 0;
      }
    }
  }
}

@media print, screen and (min-width: 28.125em){
  .sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
    .wrapper{
      .row.collapse{
        .row.collapse{
          margin-top: -2rem;
        }
      }
    }
  }

  .sab-ctrl-pages{
    .wrapper{
      .row.column{
        margin-top: -2rem;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 4rem 0;
      }
    }
  }

}

@media print, screen and (min-width: 40em){
  .sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
    .wrapper{
      .row.collapse{
        .row.collapse{
          margin-top: -5rem;
        }
      }
    }
  }
  .sab-ctrl-pages{
    .wrapper{
      .row.column{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-top: -5rem;
        padding: 4rem 0;
        margin-bottom: 4rem;
      }
    }
  }
  /////////////////////////////
  //////////MARGIN/////////////
  /////////////////////////////
  .margin-bottom-0{
    margin-bottom: 0px !important;
  }
  /////////////////////////////
  /////////SCOPE LINK/////////
  /////////////////////////////
  .sabarca-section-title{
    margin-top: -2rem;
  }
}


@media print, screen and (min-width: 64em){
  .sab-ctrl-sessions, .sab-ctrl-registrations, .sab-ctrl-passwords, .sab-ctrl-confirmations{
    .wrapper{
      .row.collapse{
        .row.collapse{
          margin-right: calc(-75rem - 100%);
          margin-left: calc(-75rem - 100%);
          margin-bottom: 4rem;
          margin-top: -5rem;
          padding: 4rem 0;

        }
      }
    }
  }

  .sab-ctrl-pages{
    .wrapper{
      .row.column{
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -5rem;
        padding: 4rem 0;
        margin-bottom: 4rem;

      }
    }
  }
}

.legend{
  float: right;
  .legend-item{
    float: left;
    margin-right: 20px;
    svg, p{
      float: left;
      line-height: 35px;
    }
  }
}
@media screen and (max-width: 39.9375em){
  .title-bar {
    border-top: 3.125rem solid $dark_grey;
    .logo-cityhall{
      margin-top: -2.6rem;
    }
    .language-choose{
      top: -2.6rem;
    }
  }
  .off-canvas{
    .topbar__user__login{
      border-top-color: $white;
      border-bottom-color: $white;
      a{
        color: $white;
        &:hover{
          color: $blue;
        }
      }
    }
  }


  .button-back{
    margin-top: 0;
  }

}

/////////////////////////////
//////////MAPS NUMBER/////////////
/////////////////////////////
.marker-cluster-small{
  background-color: rgba(0, 181, 226, 0.6) !important;
  div{
    background-color: rgba(0, 181, 226, 0.6) !important;
  }
}

.card--process__small, .home-pam__title{
  color: $primary_color;
}

/////////////////////////////
//////////BUTTONS/////////////
/////////////////////////////

.button{
  background: $primary_color;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  &:hover, &:focus{
    background-color: $blue !important;
  }
}

.button.hollow:hover, .button.hollow:focus{
  background-color: transparent !important;
  border: 1px solid $blue !important;
  color: $blue !important;
}

.button, .card{
  border-radius: 0px !important;
}

.button.expanded.button--sc.home-section__cta{
  border: 2px solid $primary_color !important;
  &:hover, &:focus{
    background-color: transparent !important;
    border: 2px solid $blue !important;
    color: $blue !important;
  }
}

.sabarca-header-section .page-title{
  margin-bottom: 10px;
}

.button.hollow.secondary{
  border: 1px solid $primary_color;
  color: $primary_color;
  &:hover, &:focus{
    background-color: transparent !important;
    border: 1px solid $blue !important;
    color: $blue !important;
  }
}
.process-header__phase .button{
  &:hover, &:focus{
    background-color: transparent !important;
  }
}
.muted-link:hover{
  color: $blue;
}

.process-nav__link{
  &:hover, &:focus{
    color: $primary_color;
    svg{
      fill: $primary_color;
    }
  }
}

/////////////////////////////
//////////ICONS/////////////
/////////////////////////////
.process_stats .process_stats-item .icon{
  color: $primary_color;

}
/////////////////////////////
//////////FILTRES/////////////
/////////////////////////////
.order-by__tabs{
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;

  .order-by__tab{
    border: 2px solid $primary_color;
    color: $primary_color;
    padding: 0.5rem 2rem;
    margin-left: 20px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: .5rem;

    &:after{
      border: none;
      margin: 0;
    }
    &:hover, &.is-active{
      color: $white;
      background-color: $primary_color;
    }
  }
}

/////////////////////////////
//////////FILTRES/////////////
/////////////////////////////
#user_groups .card__title{
  font-weight: 700;
}
